.idea
6.2.SQL/postgres/data
6.2.SQL/postgres/data2
6.2.SQL/postgres/backup
6.3.MySQL/mysql/data
6.4.PostgreSQL/postgres/data
6.4.PostgreSQL/postgres/backup
7.2.Облачные_провайдеры_и_синтаксис_Terraform/terraform/.terraform
7.2.Облачные_провайдеры_и_синтаксис_Terraform/terraform/terraform*
#comment